{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
    <div class="content-section">
        <!-- here class for The class attribute is often used to point to a class name in a style sheet. 
                                          It can also be used by a JavaScript to access and manipulate elements with the specific class name.-->
        <form method="POST" action="" enctype="multipart/form-data" >
            <!--enctype="multipart/form-data" -->
          <!--here action is "" we are posting the same route we are currently on-->
          {{ form.hidden_tag() }}
          <!-- accessing the form instance  # hidden tag just adding form request forgery token-->
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="form-group">
              {{ form.username.label(class="form-control-label") }} 
              {% if form.username.errors %} 
              {{form.username(class="form-control form-control-lg is-invalid!")}}
              <div class="invalid=feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
                  {% else %} 
                  {{ form.username(class="form-control form-control-lg") }} 
                  {% endif %}
              </div>
              <div class="form-group">
              {{ form.email.label(class="form-control-label") }} 
              {% if form.email.errors %} 
              {{form.email(class="form-control form-control-lgis-invalid!")}}
              <div class="invalid=feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.email(class="form-control form-control-lg") }} {%
              endif %}
            </div>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class='form-control-file') }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger"> {{ error }}</span> </br>
                    {% endfor %}
                {%  endif %}
            </div>
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}



          </div>
        </form>
      </div>
  </div>
{% endblock %}




